// fonts
$font-default: "Roboto", "Arial", sans-serif;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// container
$container-width: 1260px;

// viewport
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 576px;
$mobile-width: 320px;

// padding
$desktop-padding: 30px;
$tablet-padding: 20px;
$mobile-padding: 20px;
