-
  var wishlist = [
    {
      title: "Marshall",
      info: "Класссная ключница, чтобы не забывать ключи и радоваться внешнему виду.",
      photos: [
        "img/marshall-01.jpg",
        "img/marshall-02.jpg",
        "img/marshall-03.jpg",
      ],
      links: [
        {
          name: "Авито",
          url: "https://www.avito.ru/sankt-peterburg/muzykalnye_instrumenty/klyuchnitsa_kombik_marshal_2122132420",
        },
      ],
    },
    {
      title: "Polaroid Color 600 Film",
      info: "Кассета полароида на вес золота! Чтобы фиксировать моменты.",
      photos: [
        "img/polaroid-01.jpg",
        "img/polaroid-02.jpg",
        "img/polaroid-03.jpg",
      ],
      links: [
        {
          name: "Максилаб",
          url: "https://maxilabphoto.ru/product/polaroid-color-600-8-foto-color-frame/",
        },
        {
          name: "Моментография (круглая)",
          url: "https://momentography.ru/collection/dlya-polaroid-serii-600/product/kasseta-momentalnoy-fotografii-color-film-for-600-round-frame",
        },
        {
          name: "Моментография (желтая)",
          url: "https://momentography.ru/collection/dlya-polaroid-serii-600/product/kasseta-momentalnoy-fotografii-duochrome-film-for-600-black-yellow-edition",
        },
      ],
    },
    {
      title: "Цветная аналоговая пленка",
      info: "Любая цветная 35мм пленка. Последний год стоит просто космических денег.",
      photos: [
        "img/films-01.jpg",
        "img/films-02.jpg",
        "img/films-03.jpg",
      ],
      links: [
        {
          name: "Максилаб",
          url: "https://maxilabphoto.ru/product/kodak-colorplus-200-36/",
        },
        {
          name: "Foqus",
          url: "https://foqusstore.com/shop/Fujicolor-C200-200-36-35mm-p40016296",
        },
      ],
    },
    {
      title: "Цветные носки",
      info: "Универсальный подарок для ходящих. Лучше одной пары носок может быть только много пар носок. Кстати, мой размер 41RU.",
      photos: [
        "img/socks-01.jpg",
        "img/socks-02.jpg",
        "img/socks-03.jpg",
      ],
    },
    {
      title: "Mi band 6 Yellow EU",
      info: "Не знаю зачем, просто прикольный и яркий. Пусть по умному будет по утрам",
      photos: [
        "img/miband-01.jpg",
        "img/miband-02.jpg",
        "img/miband-03.jpg",
      ],
    },
    {
      title: "Намедни",
      info: "Лучший подарок — это книга. Любой том, кроме 1980 — 2000 гг.",
      photos: [
        "img/namedni-01.jpg",
        "img/namedni-02.jpg",
        "img/namedni-03.jpg",
      ],
    },
    {
      title: "Умный корректор осанки",
      info: "Вот и настало время подарков за 30. Назвается \"Hipee Smart Posture Correction Wizard\" или иногда \"Корректор осанки Xiaomi\"",
      photos: [
        "img/hipee-01.jpg",
        "img/hipee-02.jpg",
        "img/hipee-03.jpg",
      ],
    },
  ]
