-
  var wishlist = [
    {
      title: "Polaroid Color 600 Film",
      info: "Кассета полароида на вес золота! Чтобы фиксировать моменты и не париться за качество снимков.",
      photos: [
        "img/polaroid-01.jpg",
        "img/polaroid-02.jpg",
        "img/polaroid-03.jpg",
      ],
      links: [
        {
          name: "Максилаб",
          url: "https://maxilabphoto.ru/product/polaroid-color-600-8-foto-color-frame",
        },
        {
          name: "Кругленькая",
          url: "https://momentography.ru/collection/dlya-polaroid-serii-600/product/kasseta-momentalnoy-fotografii-color-film-for-600-round-frame",
        },
        {
          name: "Желтенькая",
          url: "https://momentography.ru/collection/dlya-polaroid-serii-600/product/kasseta-momentalnoy-fotografii-duochrome-film-for-600-black-yellow-edition",
        },
      ],
    },
    {
      title: "Цветная аналоговая пленка",
      info: "Любая цветная 35мм пленка. В этом году стала стоить просто космических денег.",
      photos: [
        "img/films-01.jpg",
        "img/films-02.jpg",
        "img/films-03.jpg",
      ],
      links: [
        {
          name: "Максилаб",
          url: "https://maxilabphoto.ru/product/kodak-colorplus-200-36",
        },
        {
          name: "Foqus",
          url: "https://foqusstore.com/shop/Fujicolor-C200-200-36-35mm-p40016296",
        },
      ],
    },
    {
      title: "Цветные носки",
      info: "Универсальный подарок для ходящих. Лучше одной пары носок может быть только много пар носков. Кстати, мой размер 41RU (это вроде 25 в мире носков).",
      photos: [
        "img/socks-01.jpg",
        "img/socks-02.jpg",
        "img/socks-03.jpg",
      ],
    },
    {
      title: "Намедни",
      info: "Лучший подарок — это книга. Лучшая книга — том Намедней. Любой, кроме 1980 — 2000 гг.",
      photos: [
        "img/namedni-01.jpg",
        "img/namedni-02.jpg",
        "img/namedni-03.jpg",
      ],
    },
    {
      title: "Умный корректор осанки",
      info: "Вот и настало время подарков за 30. Назвается \"Hipee Smart Posture Correction Wizard\" или иногда \"Корректор осанки Xiaomi\". Буду ходить и сидеть с прямой спиной)",
      photos: [
        "img/hipee-01.jpg",
        "img/hipee-02.jpg",
        "img/hipee-03.jpg",
      ],
    },
  ]
