-
  var wishlist = [
    {
      title: "Polaroid Color 600 Film",
      info: "Кассета полароида на вес золота! Чтобы фиксировать моменты и не париться за качество снимков.",
      photos: [
        "img/polaroid-01.jpg",
        "img/polaroid-02.jpg",
        "img/polaroid-03.jpg",
      ],
      links: [
        {
          name: "Максилаб",
          url: "https://maxilabphoto.ru/product/polaroid-color-600-8-foto-color-frame/",
        },
        {
          name: "Кругленькая",
          url: "https://momentography.ru/collection/dlya-polaroid-serii-600/product/kasseta-momentalnoy-fotografii-color-film-for-600-round-frame",
        },
        {
          name: "Желтенькая",
          url: "https://momentography.ru/collection/dlya-polaroid-serii-600/product/kasseta-momentalnoy-fotografii-duochrome-film-for-600-black-yellow-edition",
        },
      ],
    },
    {
      title: "Цветная аналоговая пленка",
      info: "Любая цветная 35мм пленка. В этом году стала стоить просто космических денег.",
      photos: [
        "img/films-01.jpg",
        "img/films-02.jpg",
        "img/films-03.jpg",
      ],
      links: [
        {
          name: "Максилаб",
          url: "https://maxilabphoto.ru/product/kodak-colorplus-200-36/",
        },
        {
          name: "Foqus",
          url: "https://foqusstore.com/shop/Fujicolor-C200-200-36-35mm-p40016296",
        },
      ],
    },
    {
      title: "Цветные носки",
      info: "Универсальный подарок для ходящих. Лучше одной пары носок может быть только много пар носков. Кстати, мой размер 41RU (это вроде 25 в мире носков).",
      photos: [
        "img/socks-01.jpg",
        "img/socks-02.jpg",
        "img/socks-03.jpg",
      ],
    },
    {
      title: "Mi band 6 Yellow EU",
      info: "Не знаю зачем, просто прикольный и яркий. Буду шаги считать и просываться с умным будильником.",
      photos: [
        "img/miband-01.jpg",
        "img/miband-02.jpg",
        "img/miband-03.jpg",
      ],
    },
    {
      title: "Намедни",
      info: "Лучший подарок — это книга. Лучшая книга — том Намедней. Любой, кроме 1980 — 2000 гг.",
      photos: [
        "img/namedni-01.jpg",
        "img/namedni-02.jpg",
        "img/namedni-03.jpg",
      ],
    },
    {
      title: "Умный корректор осанки",
      info: "Вот и настало время подарков за 30. Назвается \"Hipee Smart Posture Correction Wizard\" или иногда \"Корректор осанки Xiaomi\". Буду ходить и сидеть с прямой спиной)",
      photos: [
        "img/hipee-01.jpg",
        "img/hipee-02.jpg",
        "img/hipee-03.jpg",
      ],
    },
    {
      title: "Marshall",
      info: "Класссная ключница, чтобы не забывать ключи и радоваться внешнему виду.",
      photos: [
        "img/marshall-01.jpg",
        "img/marshall-02.jpg",
        "img/marshall-03.jpg",
      ],
      links: [
        {
          name: "Авито",
          url: "https://www.avito.ru/sankt-peterburg/muzykalnye_instrumenty/klyuchnitsa_kombik_marshal_2122132420",
        },
      ],
    },
    {
      title: "Xiaomi Mijia Electric Shaver S500",
      info: "Хотелка для тех у кого ростут волосы на лице. Всегда хотел попробовать, но как-то побаивался 😶‍🌫️",
      photos: [
        "img/shaver-01.jpg",
        "img/shaver-02.jpg",
        "img/shaver-03.jpg",
      ],
      links: [
        {
          name: "Онлайн трейд",
          url: "https://www.onlinetrade.ru/catalogue/elektrobritvy_muzhskie-c47/xiaomi/elektrobritva_xiaomi_mi_electric_shaver_s500_nun4131gl-2268032.html",
        },
        {
          name: "Ozon",
          url: "https://www.ozon.ru/product/elektrobritva-xiaomi-mijia-electric-shaver-s500-chernyy-chernyy-matovyy-283219576/?sh=LXwTWLqi",
        },
        {
          name: "Nook & Kindle",
          url: "https://nookkindle.ru/product/elektrobritva-xiaomi-mijia-electric-shaver-s500",
        },
      ],
    },
    {
      title: "Xiaomi Mi Power Bank 3 Ultra compact, 10000mAh",
      info: "Под конец года остался без паурбанка. Простой и элегантный подарок! Главное: легкий, может заряжать несколько устройств, есть USB-C, поддержка Power Delivery.",
      photos: [
        "img/bank-01.jpg",
        "img/bank-02.jpg",
        "img/bank-03.jpg",
      ],
      links: [
        {
          name: "Ozon",
          url: "https://www.ozon.ru/product/vneshniy-akkumulyator-xiaomi-mi-power-bank-3-ultra-compact-pb1022zm-chernyy-10-000mah-231294687/?sh=g4h7qZel&tab=reviews",
        },
        {
          name: "Дон-Телефон",
          url: "https://don-telefon.ru/akkumulyator_xiaomi_mi_power_bank_3_ultra_compact_10000mah_bhr4412gl_chernyy_82110?utm_source=nadavi&utm_medium=cpc",
        },
        {
          name: "Lite-Mobile",
          url: "https://promo.lite-mobile.ru/vneshniy-akkumulyator-xiaomi-mi-power-bank-3-ultra-compact-emkost-10000-ma-h-cvet-black?utm_source=Nadavi&utm_medium=cpc",
        },
      ],
    },
  ]
