include ../components/images

mixin card(data)
  .card
    .card__top
      h3.card__title=data.title
      p.card__desc=data.info || ""

    .card__grid
      each photo in data.photos
        .card__ratio
          +picture("card__img", photo)

    if data.links
      ul.card__info-list
        each link in data.links
          li
            a.card__btn(href=link.url target="_black")=link.name
        li
            a.card__btn ...или в любом другом месте
