mixin footer()
  footer.footer
    a.footer__link(href="https://t.me/ellyprohorova" aria-label="Elly in telegram")
      | По всем вопросам можно обращаться к моему менеджеру в телеграм
      +svg(null, "icon-telegram", 30, 30)
