mixin quote()
  blockquote.quote
    p.quote__text Иметь вишлист, конечно, хорошо, но нет ничего лучше друзей, которые придут тебя поздравить и обнять.
    cite.quote__author — Отто фон Бисмарк, речь перед студентами Стэнфорда
