.footer {
  @include wrapper;

  padding: 40px 20px;
  font-size: 0.8rem;
  @include tablet {
    font-size: 1rem;
  }
}

.footer__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  svg {
    margin-left: 10px;
    fill: $color-text;
  }
  &:hover,
  &:focus {
    color: $color-gray;
    svg {
      fill: $color-gray;
    }
  }
}
