.quote {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 80px 20px 80px 20px;
  text-align: center;
}

.quote__text {
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 20px;
}

.quote__author {
  max-width: 500px;
  color: $color-gray;
}
